In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('dulieuxettuyendaihoc.csv')

# 1. Xác định và phân loại dữ liệu định tính và định lượng

In [3]:
qualitative_cols = ['GT', 'DT', 'KV', 'KT']
quantitative_cols = [col for col in df.columns if col not in qualitative_cols + ['STT']]
print("Dữ liệu định tính:", qualitative_cols)
print("Dữ liệu định lượng:", quantitative_cols)

Dữ liệu định tính: ['GT', 'DT', 'KV', 'KT']
Dữ liệu định lượng: ['T1', 'L1', 'H1', 'S1', 'V1', 'X1', 'D1', 'N1', 'T2', 'L2', 'H2', 'S2', 'V2', 'X2', 'D2', 'N2', 'T3', 'L3', 'H3', 'S3', 'V3', 'X3', 'D3', 'N3', 'T4', 'L4', 'H4', 'S4', 'V4', 'X4', 'D4', 'N4', 'T5', 'L5', 'H5', 'S5', 'V5', 'X5', 'D5', 'N5', 'T6', 'L6', 'H6', 'S6', 'V6', 'X6', 'D6', 'N6', 'DH1', 'DH2', 'DH3']

# 2. Định nghĩa các thang đo phù hợp cho từng biến số

In [4]:
# - Nominal (Danh nghĩa): GT, DT, KV, KT
# - Ratio (Tỷ lệ): Các cột điểm số (T1, L1, ..., DH1, DH2, DH3)
print("\nThang đo:")
print("- Nominal (Danh nghĩa): GT (F/M), DT (0/1/6), KV (1/2/2NT), KT (A/A1/B/C/D1)")
print("- Ratio (Tỷ lệ): T1, L1, H1, ..., DH1, DH2, DH3 (thang điểm 0-10)")

Thang đo:
- Nominal (Danh nghĩa): GT (F/M), DT (0/1/6), KV (1/2/2NT), KT (A/A1/B/C/D1)
- Ratio (Tỷ lệ): T1, L1, H1, ..., DH1, DH2, DH3 (thang điểm 0-10)

# 3. Sử dụng Python để tải dữ liệu lên chương trình và in ra màn hình 10 dòng đầu tiên và 10 dòng cuối cùng

In [5]:
print("\n10 dòng đầu tiên:")
print(df.head(10))
print("\n10 dòng cuối cùng:")
print(df.tail(10))

10 dòng đầu tiên:
   STT   T1   L1   H1   S1   V1   X1   D1   N1   T2  ...   X6   D6   N6  GT  \
0    1  7.2  7.3  6.3  7.3  7.0  7.9  7.3  5.5  8.4  ...  6.6  7.6  5.9   F
1    2  5.4  3.9  3.9  4.0  5.4  5.4  5.3  2.8  6.3  ...  6.6  6.1  4.4   M
2    3  5.6  6.8  7.2  7.5  4.3  7.4  5.8  3.2  5.0  ...  7.9  8.1  4.6   M
3    4  6.6  6.4  5.3  6.9  5.4  7.3  6.4  5.8  5.1  ...  7.1  7.3  7.4   M
4    5  6.0  5.0  6.0  7.3  6.5  7.7  7.9  6.1  5.4  ...  6.1  7.5  7.2   M
5    6  9.3  7.6  7.9  8.6  7.0  7.3  7.7  7.9  9.6  ...  5.7  8.0  7.8   M
6    7  2.8  3.9  5.5  6.9  5.0  7.3  4.6  5.2  4.4  ...  6.6  6.0  6.0   F
7    8  8.3  6.0  7.6  5.1  7.5  4.7  5.8  7.2  6.7  ...  7.1  6.8  7.0   F
8    9  6.5  6.3  7.6  6.0  5.5  7.1  6.3  5.0  7.3  ...  9.1  7.9  6.1   F
9   10  7.3  5.9  4.7  7.1  6.7  7.9  6.7  7.7  8.0  ...  6.4  6.1  7.8   F

   DT   KV   DH1   DH2   DH3  KT
0 NaN  2NT  3.25  3.25  4.50  A1
1 NaN    1  6.00  4.00  3.50   C
2 NaN    1  5.00  6.75  4.00   C
3 NaN    1  4.25  4.25  5.25  D1
4 NaN  2NT  4.25  4.50  5.00   A
5 NaN    1  1.50  4.00  6.00  D1
6 NaN    2  6.50  6.75  5.25   C
7 NaN    2  3.75  4.50  4.25  D1
8 NaN    1  3.50  3.50  6.75  D1
9 NaN    1  4.00  4.75  5.50  D1

[10 rows x 56 columns]

10 dòng cuối cùng:
    STT   T1   L1   H1   S1   V1   X1   D1   N1   T2  ...   X6   D6   N6  GT  \
90   91  8.1  7.7  9.1  8.5  6.1  8.6  8.8  7.3  8.8  ...  8.3  8.7  7.8   M
91   92  7.8  6.5  6.7  5.4  6.2  4.8  5.9  4.4  8.9  ...  7.2  7.4  7.0   M
92   93  5.0  6.6  6.5  7.2  5.8  6.7  6.4  6.0  6.8  ...  5.9  6.7  5.8   M
93   94  5.2  5.2  6.8  7.9  6.6  8.9  7.6  5.3  6.8  ...  8.7  7.8  5.0   M
94   95  5.8  5.9  7.6  6.1  5.3  8.1  6.1  5.0  6.4  ...  7.3  6.8  5.3   M
95   96  8.6  6.9  7.4  8.8  7.6  5.8  7.3  5.7  8.9  ...  6.3  6.1  6.2   F
96   97  3.7  5.4  6.0  5.1  5.5  3.9  6.1  4.4  4.1  ...  7.9  7.5  4.4   F
97   98  8.8  5.5  7.4  7.7  6.2  7.3  8.1  4.5  9.5  ...  9.6  8.4  5.8   M
98   99  2.7  1.8  3.4  5.3  4.5  7.9  4.9  3.8  2.8  ...  6.6  5.2  5.9   M
99  100  4.1  5.2  4.9  5.3  5.5  5.4  7.2  5.4  4.4  ...  5.6  6.6  5.8   M

    DT   KV   DH1   DH2   DH3  KT
90 NaN    2  6.25  4.00  6.50   A
91 NaN  2NT  4.75  4.75  4.50   A
92 NaN    1  3.25  5.25  4.25   A
93 NaN    1  3.50  4.25  5.00   A
94 NaN    1  4.25  2.50  4.75   A
95 NaN    1  5.25  1.50  6.25   C
96 NaN    1  5.25  3.75  4.75   C
97 NaN  2NT  7.00  8.00  4.00   C
98 NaN    1  5.00  3.50  5.50   C
99 NaN  2NT  5.25  2.50  4.25   C

[10 rows x 56 columns]

# 4. Thống kê dữ liệu thiếu cho cột dân tộc và hiệu chỉnh dữ liệu thiếu như sau: Mặc định thiếu thì điền giá trị 0.

In [8]:
print("\nThống kê dữ liệu thiếu cho cột DT:")
print("Số giá trị thiếu:", df['DT'].isnull().sum())
print("Bảng tần số giá trị DT:")
print(df['DT'].value_counts(dropna=False))
print("Giá trị riêng biệt trong DT:", df['DT'].unique())
df['DT'].fillna(0, inplace=True)  # Thay thế NaN bằng 0
print("Sau khi thay thế, số giá trị thiếu trong DT:", df['DT'].isnull().sum())

Thống kê dữ liệu thiếu cho cột DT:
Số giá trị thiếu: 97
Bảng tần số giá trị DT:
DT
NaN    97
1.0     2
6.0     1
Name: count, dtype: int64
Giá trị riêng biệt trong DT: [nan  1.  6.]
Sau khi thay thế, số giá trị thiếu trong DT: 0

C:\Users\84936\AppData\Local\Temp\ipykernel_19600\2237735824.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['DT'].fillna(0, inplace=True)  # Thay thế NaN bằng 0

# 5. Thống kê dữ liệu thiếu cho biến T1 và hiệu chỉnh dữ liệu, lưu ý việc thay thế dữ liệu thiếu sử dụng phương pháp Mean.

In [9]:
print("\nThống kê dữ liệu thiếu cho cột T1:")
print("Số giá trị thiếu:", df['T1'].isnull().sum())
print("Bảng tần số giá trị T1:")
print(df['T1'].value_counts(dropna=False))
mean_T1 = df['T1'].mean()
df['T1'].fillna(mean_T1, inplace=True)
print("Sau khi thay thế, số giá trị thiếu trong T1:", df['T1'].isnull().sum())

Thống kê dữ liệu thiếu cho cột T1:
Số giá trị thiếu: 0
Bảng tần số giá trị T1:
T1
5.2    5
7.3    5
5.3    5
6.0    4
7.2    4
7.9    4
4.9    3
5.4    3
5.0    3
8.2    3
6.5    3
5.5    3
6.3    3
8.8    2
7.1    2
8.3    2
6.4    2
3.6    2
8.1    2
6.6    2
5.6    2
5.7    2
5.8    2
3.0    2
5.1    2
9.3    1
3.9    1
2.5    1
2.8    1
2.4    1
3.4    1
4.3    1
4.4    1
4.7    1
4.5    1
2.6    1
7.6    1
6.7    1
6.9    1
6.1    1
7.0    1
6.2    1
4.6    1
4.2    1
7.5    1
4.8    1
5.9    1
8.4    1
7.8    1
8.6    1
3.7    1
2.7    1
4.1    1
Name: count, dtype: int64
Sau khi thay thế, số giá trị thiếu trong T1: 0

C:\Users\84936\AppData\Local\Temp\ipykernel_19600\308513751.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['T1'].fillna(mean_T1, inplace=True)

# 6. Hãy thực hiện xử lý lần lượt tất cả dữ liệu thiếu cho các biến về điểm số còn lại.

In [10]:
score_columns = ['T1', 'L1', 'H1', 'S1', 'V1', 'X1', 'D1', 'N1',
                 'T2', 'L2', 'H2', 'S2', 'V2', 'X2', 'D2', 'N2',
                 'T3', 'L3', 'H3', 'S3', 'V3', 'X3', 'D3', 'N3',
                 'T4', 'L4', 'H4', 'S4', 'V4', 'X4', 'D4', 'N4',
                 'T5', 'L5', 'H5', 'S5', 'V5', 'X5', 'D5', 'N5',
                 'T6', 'L6', 'H6', 'S6', 'V6', 'X6', 'D6', 'N6']
for col in score_columns:
    df[col].fillna(df[col].mean(), inplace=True)
print("\nĐã xử lý tất cả dữ liệu thiếu cho các cột điểm số.")

Đã xử lý tất cả dữ liệu thiếu cho các cột điểm số.

C:\Users\84936\AppData\Local\Temp\ipykernel_19600\3627092438.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)

# 7. Tạo các biến TBM1, TBM2, TBM3 tương ứng với trung bình môn của các năm lớp 10, 11 và 12.
### • Công thức tính: TBM = (T*2 + L + H + S + V*2 + X + D + N) / 10

In [11]:
def calculate_tbm(row, year):
    t = row[f'T{year}'] * 2
    l = row[f'L{year}']
    h = row[f'H{year}']
    s = row[f'S{year}']
    v = row[f'V{year}'] * 2
    x = row[f'X{year}']
    d = row[f'D{year}']
    n = row[f'N{year}']
    return (t + l + h + s + v + x + d + n) / 10

df['TBM1'] = df.apply(lambda row: calculate_tbm(row, 1), axis=1)
df['TBM2'] = df.apply(lambda row: calculate_tbm(row, 2), axis=1)
df['TBM3'] = df.apply(lambda row: calculate_tbm(row, 3), axis=1)

# 8. Tạo các biến xếp loại XL1, XL2 và XL3 dựa trên TBM1,TBM2 và TBM3 cho từng năm lớp 10, 11, 12 như sau:
### • Nhỏ hơn 5.0 xếp loại: yếu (kí hiệu là Y)
### • Từ 5.0 đến dưới 6.5: trung bình (kí hiệu là TB)
### • Từ 6.5 đến dưới 8.0: khá (kí hiệu là K)
### • Từ 8.0 đến dưới 9.0: giỏi (kí hiệu là G)
### • Từ 9.0 trở lên: xuất sắc (kí hiệu là XS)

In [12]:
def classify_tbm(tbm):
    if tbm < 5.0:
        return 'Y'
    elif 5.0 <= tbm < 6.5:
        return 'TB'
    elif 6.5 <= tbm < 8.0:
        return 'K'
    elif 8.0 <= tbm < 9.0:
        return 'G'
    else:
        return 'XS'

df['XL1'] = df['TBM1'].apply(classify_tbm)
df['XL2'] = df['TBM2'].apply(classify_tbm)
df['XL3'] = df['TBM3'].apply(classify_tbm)

# 9. Tạo các biến US_TBM1, US_TBM2 và US_TBM3 để chuyển điểm trung bình các năm lớp 10, 11 và 12 từ thang điểm 10 của Việt Nam sang thang điểm 4 của Mỹ. Sử dụng phương pháp Min-Max Normalization

In [13]:
def min_max_normalization(tbm, min_val=0, max_val=10, new_min=0, new_max=4):
    return ((tbm - min_val) / (max_val - min_val)) * (new_max - new_min) + new_min

df['US_TBM1'] = df['TBM1'].apply(min_max_normalization)
df['US_TBM2'] = df['TBM2'].apply(min_max_normalization)
df['US_TBM3'] = df['TBM3'].apply(min_max_normalization)

# 10. Tạo biến kết quả xét tuyển (kí hiệu là KQXT) nhằm xác định sinh viên đậu (giá trị “1”) và rớt ( giá trị “0”) vào các khối dựa trên điểm DH1, DH2 và DH3 như sau
### • Với khối A, A1 nếu [(DH1*2 + DH2 + DH3)/4] lớn hơn hoặc bằng 5.0 thì đậu, ngược lại là rớt
### • Với khối B nếu [(DH1 + DH2*2 + DH3)/4] lớn hơn hoặc bằng 5.0 thì đậu, ngược lại là rớt
### • Với khối khác nếu [(DH1+ DH2 + DH3)/3] lớn hơn hoặc bằng 5.0 thì đậu, ngược lại là rớt

In [14]:
def calculate_kqxt(row):
    dh1, dh2, dh3 = row['DH1'], row['DH2'], row['DH3']
    kt = row['KT']
    if kt in ['A', 'A1']:
        score = (dh1 * 2 + dh2 + dh3) / 4
    elif kt == 'B':
        score = (dh1 + dh2 * 2 + dh3) / 4
    else:
        score = (dh1 + dh2 + dh3) / 3
    return 1 if score >= 5.0 else 0

df['KQXT'] = df.apply(calculate_kqxt, axis=1)

# 11. Lưu trữ dữ liệu xuống ổ đĩa thành file processed_dulieuxettuyendaihoc.csv

In [16]:
df.to_csv('processed_dulieuxettuyendaihoc.csv', index=False)
print("\nĐã lưu dữ liệu vào file 'processed_dulieuxettuyendaihoc.csv'")

Đã lưu dữ liệu vào file 'processed_dulieuxettuyendaihoc.csv'

In [17]:
print("\n5 dòng đầu tiên của dữ liệu đã xử lý (các cột mới):")
print(df[['TBM1', 'XL1', 'US_TBM1', 'KQXT']].head())

5 dòng đầu tiên của dữ liệu đã xử lý (các cột mới):
   TBM1 XL1  US_TBM1  KQXT
0  7.00   K    2.800     0
1  4.69   Y    1.876     0
2  5.77  TB    2.308     1
3  6.21  TB    2.484     0
4  6.50   K    2.600     0